.mtk1, .white {
  color: rgb(230, 237, 243);
}

.mtk4, .red {
  color: rgb(255, 123, 114);
}

.mtk6, .orange {
  color: rgb(255, 166, 87);
}

.mtk8, .green {
  color: rgb(126, 231, 135);
}

.mtk9, .cyan {
  color: rgb(165, 214, 255);
}

.mtk5, .blue {
  color: rgb(121, 192, 255);
}

.mtk7, .purple {
  color: rgb(210, 168, 255);
}

.mtk3, .gray {
  color: rgb(139, 148, 158);
}

.bracket-highlighting-0, .bracket-0 {
  color: rgb(121, 192, 255);
}

.bracket-highlighting-1, .bracket-1 {
  color: rgb(86, 211, 100);
}

.bracket-highlighting-2, .bracket-2 {
  color: rgb(227, 179, 65);
}

.bracket-highlighting-3, .bracket-3 {
  color: rgb(255, 161, 152);
}

.bracket-highlighting-4, .bracket-4 {
  color: rgb(255, 155, 206);
}

.bracket-highlighting-5, .bracket-5 {
  color: rgb(210, 168, 255);
}

.whitespace {
  color: rgb(66, 70, 75);
}

pre, .bg-primary {
  background-color: rgb(13, 17, 23);
}

.bg-secondary {
  background-color: rgb(22, 27, 34);
}

code {
  background-color: none;
}